.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* login Page Css start */
.login-main{background: #f9f9f9;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;}
.login-sub{
  width: 400px;
  padding: 20px;
  
  overflow: auto;
  background-color: #1890C6;
  color: #fff;box-shadow: 10px 10px 5px 1-px #cacaca;border-radius: 4px;}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
